.edit-options{
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-options button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.edit-options button:first-child{
    /* dark shade of red */
    background-color: rgb(130, 70, 70);
}

.edit-options button:last-child{
    /* dark shade of green */
    background-color: rgb(70, 130, 70);
}

.edit-options .label{
    color: #b4b4b4;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.edit-options .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}