.input-wrapper{
    padding: 2.5px;
    border: 2px solid transparent;
    border-radius: 8px;
}
.input-wrapper-active{
    border: 2px solid #525252;
}

.main-input{
    width: 475px;
    padding: 8px;
    background-color: #111111;
    border: 1.5px solid #282828;
    border-radius: 6px;
    outline: none;
    display: flex;
    align-items: center;
}

.prefix{
    display: inherit;
    place-content: inherit;
    margin-right: 8px;
    color: #525252;
}

.prefix span svg{
    width: 15px;
    height: 15px;
}

::placeholder{
    color: #525252;
}

.main-input input{
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    outline: none;
    font-size: 1em;
}

.main-input:hover{
    border: 1.5px solid #424242;
}