.input-wrapper {
  padding: 2.5px;
  border: 2px solid transparent;
  border-radius: 8px;
}
.input-wrapper-active {
  border: 2px solid #525252;
}

.text-input {
  width: 475px;
  padding: 8px;
  background-color: #111111;
  border: 1.5px solid #282828;
  border-radius: 6px;
  outline: none;
  display: flex;
  align-items: center;
}


@media (max-width: 768px) {
  .text-input {
    width: 100%;
  }

  .text-input input {
    font-size: 0.9em;
  }

  .input-wrapper {
    width: 100%;
    margin: 6px;
  }
}

.prefix {
  display: inherit;
  place-content: inherit;
  margin-right: 8px;
  color: #525252;
}

.prefix span svg {
  width: 15px;
  height: 15px;
}

::placeholder {
  color: #525252;
}

.text-input input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  width: 100%;
  outline: none;
  font-size: 1em;
}

.text-input textarea {
  background-color: transparent;
  border: none;
  color: #ffffff;
  width: 100%;
  outline: none;
  font-size: 1em;
  height: 40px;
}

.text-input:hover {
  border: 1.5px solid #424242;
}
